## SvenCo-op map CFG file - Black&White (bw.bsp)
## Author: BuGi and Katar

startarmor 200
starthealth 200

nomedkit
weapon_shotgun
weapon_mp5
weapon_crossbow
weapon_glock
weapon_357
weapon_m16
weapon_crowbar
ammo_9mm 100
ammo_357 36
ammo_556 500
ammo_buckshot 125
ammo_crossbow 50
ammo_argrenades 2



skill 2

mp_banana 1

mp_respawndelay 1

mp_multiplespawn 1

mp_monsterpoints 1

mp_timelimit 120

mp_fraglimit 0

mp_flashlight 1

mp_falldamage 0

mp_forcerespawn 0

mp_weaponstay 1

mp_radiovoice 0

mp_allowgaussjump 1

## Physics stuff. 
## Don't change unless you know what you're doing!!
sv_accelerate 10
sv_airaccelerate 10
sv_airmove 1
sv_friction 4
sv_gravity 800
sv_maxspeed 270
sv_wateraccelerate 10
sv_waterfriction 1

forcepmodels bw_helmet
